@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Roboto:ital,wght@0,100;1,500&family=Work+Sans:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: gold;
}
/* App.css */
html {
  scroll-behavior: smooth; /* Smooth scroll */
}

/* Optional: Customize the scrollbar globally */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #efeeee;
}

::-webkit-scrollbar-thumb {
  background: #e070cf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #650562;
}
